#main {
  text-align: center;
}

#cabecera {
  background-color: #282c34;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70px;
  animation: App-logo-spin infinite 20s linear;
}

.mensaje {
  color: #61dafb;
  margin-left: 20px;
}

#resultados li{
  background-color: #fff;
  border: 1px solid #282c34;
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin: 5px; 
}

#resultados li p img {
  width: 80px;
  height: 80px;
}

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  